<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/flightsStyles.css">
</head>
<body>
<div class="container">
    <h2>Flight List</h2>
    <table class="flights-table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Trip Type</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="flights-tbody">
        </tbody>
    </table>
</div>
<script src="/js/flights.js"></script>
</body>
</html>
